.btn {
  border: 2px solid transparent;
  padding: 12px 30px;
  margin-top: 22px;
  font-weight: 700;
}

.km-button,
.km-button:hover,
.km-button:active {
  background-color: white !important;
  color: #fd8070 !important;
  border: 2px solid transparent;
}

.sm-button,
.sm-button:hover,
.sm-button:active {
  background-color: #fd8070 !important;
  color: white !important;
  border: 2px solid transparent;
}
