.btn {
  border: 2px solid transparent;
  padding: 12px 30px;
  margin-top: 22px;
  font-weight: 700;
}

.km-button,
.km-button:hover {
  background-color: white;
  color: #fd8070;
  border: 2px solid transparent;
}

.sm-button,
.sm-button:hover {
  background-color: #fd8070;
  color: white;
  border: 2px solid transparent;
}
