h5 {
  display: flex;
}

.our-portfolio-container {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 60px 16px rgba(206, 206, 206, 0.6);
  -moz-box-shadow: 0px 0px 60px 16px rgba(206, 206, 206, 0.6);
  box-shadow: 0px 0px 60px 16px rgba(206, 206, 206, 0.6);
  background-color: #f7f7f7;
}

.our-portfolio-row {
  background-color: #f7f7f7;
  border-radius: 10px;
}

.slide-div {
  width: fit-content;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: #000;
}

img {
  transition: transform 0.5s;
}

.slide-div:hover {
  cursor: pointer;
}

.slide-div:hover .overlay {
  opacity: 0.5;
}

.slide-div:hover img {
  transform: scale(1.5);
}
